
<html>
<title><%= pageTitle %></title>

<%- include('parts/navbar') %>

<div class="row">
    <input type="hidden" id="chatId" value="<%= chatId %>">
    <div class="col col-12 col-md-3">
        <img src="/<%= friendData.image %>"> <Br>
        <a href="/profile/<%= friendData._id %>"><%= friendData.username %></a>
        <input type="hidden" value="<%= friendData._id %>" id="friendId">
          <button class="btn btn-success" id="callBtn">Video Call</button>
        
    </div>
    <div class="col col-12 col-md-9 messages">
        <div id="messages-container">
            <% for(let message of messages) {%>
                <span><%= message.content %></span>
                <br>
            <% } %>
        </div>
        <div class="messages-form">
            <textarea id="message"></textarea>
            <button id="sentBtn">Send</button>
        </div>
        
    </div>
</div>







<%- include('parts/scripts') %>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/chat.js"></script>
</html>
